.sidebarContent{
  height: 90vh;
}

.mainContent{
  height: 90vh;
  overflow: auto;
}

.tab-100{
  width: 100%;
}

::ng-deep{
  #amDiagnose{
    .left{
      max-width: 400px;
    }

    .sidebarContent{
      padding: var(--spacing-sm, 8px);

      .p-sortable-column-icon{
        vertical-align: baseline;
      }

      .p-multiselect-trigger-icon{
        color:var(--secondary-main,#3C6353)
      }

      .p-multiselect-trigger{
        width: auto;
      }

      th{
        font-size: 18px;
      }

      td,th{
        white-space: nowrap;
      }
    }

    .content-title{
      button{
        margin-right: var(--spacing-sm, 8px) !important;
      }

      h6{
        color: var(--primary-main,#006D50);
        margin-right: var(--spacing-lg, 16px);;
      }
    }

    .mainContent .card{
      padding: var(--spacing-sm, 8px);
      margin-bottom: var(--spacing-sm, 8px);;

      &:last-child{
        margin-bottom: 0px;
      }
    }

    .mainContent{
      h5, h6{
        margin-bottom: var(--spacing-sm, 8px);
      }

      .p-divider{
        margin-top:  var(--spacing-sm, 8px);
        margin-bottom:  var(--spacing-sm, 8px);
      }
    }

    .multiSelect-custom {
      .p-multiselect{
        background: transparent;
        border: 0px;
      }

      .p-placeholder{
        color: var(--secondary-main, #3C6353) !important;
        font-size: 18px;
        font-weight: 700;
        padding: 0%;
      }

      .p-multiselect.p-component.p-focus{
        box-shadow: inset 0 0 0 0px;
      }

      .p-multiselect-trigger{
        justify-content: left;
        margin-left: var(--spacing-sm, 8px);
      }

      .p-multiselect{
        display: inline-flex !important;
      }
    }

    .columnFilter-custom .p-column-filter-clear-button{
      display: none;
    }

    .copy-button-size{
      height: 24px;
      width: 24px;
    }

    .diagnosis-panel{
      margin-bottom: var(--spacing-sm, 8px);
    }

    .card, .diagnosis-panel .p-panel{
      border-radius: var(--border-radius-card, 12px);
      border: 0.5px solid var(--outline-variant, #B5BFBB);
      background: var(--surface-card, #FFF);

      /* cardShadow */
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
  }

  .multiSelect-panel-custom{
    width: 206px;

    .p-multiselect-header{
      padding: var(--spacing-xs, 4px) var(--spacing-md, 12px);
      background: var(--surface-ground, #F6F6F6);
    }

    li{
      height: 40px;
      padding: var(--spacing-xs, 4px) var(--spacing-md, 12px) !important;
    }
  }
}


