<div id="amDiagnose" class="container">
  <his-row-panel (dateSelected)="onSearchDate($event)" calendarPlaceholder="請輸入查詢起迄">
    <div sidebarContent class="sidebarContent">
      <p-table [value]="admissionNoteSpecs" styleClass="table-100" selectionMode="single" [(selection)]="selectedAdmissionNoteSpec" dataKey="admissionDate">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <p-columnFilter field="department" matchMode="in" [showMenu]="false" class="columnFilter-custom">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" [options]="" optionLabel="display" appendTo="body" [displaySelectedLabel]="false" (onChange)="filter($event.value)" placeholder="狀態" dropdownIcon="pi pi-filter" class="multiSelect-custom" panelStyleClass="multiSelect-panel-custom">
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.display }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </th>

            <th pSortableColumn="admissionDate">
              就醫日期
              <p-sortIcon field="admissionDate"></p-sortIcon>
            </th>
            <th>
              <p-columnFilter field="visitType" matchMode="in" [showMenu]="false" class="columnFilter-custom">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" [options]="" optionLabel="display" appendTo="body" [displaySelectedLabel]="false" (onChange)="filter($event.value)" placeholder="科別" dropdownIcon="pi pi-filter" class="multiSelect-custom" panelStyleClass="multiSelect-panel-custom">
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.display }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-admissionNote>
          <tr [pSelectableRow]="admissionNote">
            <td><p-tag severity="success" [value]="admissionNote.confirmStatus.display"></p-tag></td>
            <td>{{ getFormatDate(admissionNote.admissionDate) }}</td>
            <td>{{ admissionNote.admissionDepartment.display }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div title *ngIf="selectedAdmissionNoteSpec" class="flex">
      <h6>入院科別：{{ selectedAdmissionNoteSpec.admissionDepartment.display }}</h6>
      <h6>報告者：{{ selectedAdmissionNoteSpec.reportDoctor.display }}</h6>
      <h6>報告紀錄時間：{{ getFormatDate(selectedAdmissionNoteSpec.reportTime) }}</h6>
      <h6>確認者：{{ selectedAdmissionNoteSpec.confirmDoctor.display }}</h6>
      <h6>確認紀錄時間：{{ getFormatDate(selectedAdmissionNoteSpec.confirmTime) }}</h6>
    </div>
    <div content class="mainContent" *ngIf="selectedAdmissionNoteSpec">
      <div class="diagnosis-panel">
        <p-panel header="疾病診斷" [toggleable]="true" class="line-height-3">
          <p-table [value]="selectedAdmissionNoteSpec.diagnostics" styleClass="tab-100">
            <ng-template pTemplate="header">
              <tr>
                <th>類別</th>
                <th>ICD診斷碼</th>
                <th>臨床診斷</th>
                <th>ICD英文診斷碼</th>
                <th>開立人員</th>
                <th>開立時間</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-diagnosis>
              <tr>
                <td>{{ diagnosis.category }}</td>
                <td>{{ diagnosis.icd }}</td>
                <td>{{ diagnosis.clinicalDescription }}</td>
                <td>{{ diagnosis.icdEng }}</td>
                <td>{{ diagnosis.issuedBy }}</td>
                <td>{{ getFormatDate(diagnosis.issuedTime) }}</td>
              </tr>
            </ng-template>
          </p-table>

          <ng-template pTemplate="headericons" let-collapsed>
            <i class="pi pi-{{ collapsed ? 'angle-up' : 'angle-down' }}"></i>
          </ng-template>
        </p-panel>
      </div>

      <div class="card">
        <div *ngFor="let key of getDescriptionsKeys(selectedAdmissionNoteSpec.descriptions); let last = last">
          <div class="flex justify-content-between align-items-center">
            <h6>{{ selectedAdmissionNoteSpec.descriptions[key].title }}</h6>
            <button pCopyTooltip="複製" tooltipPosition="bottom" [tooltipCopyKey]="key" tooltipCopySuccess="複製成功" tooltipCopyFail="複製失敗" [life]="2000" pButton pRipple type="button" icon="pi pi-copy" class="p-button-rounded p-button-text copy-button-size"></button>
          </div>

          <p [id]="key">{{ selectedAdmissionNoteSpec.descriptions[key].content }}</p>
          <p-divider *ngIf="!last"></p-divider>
        </div>
      </div>
    </div>
  </his-row-panel>
</div>
